<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../parts/head'); %>
</head>
<body class="container">

<header>
  <%- include('../parts/navbar'); %>
</header>

<main>
   <div class="jumbotron">
      <h2 >
          <center><img src="image36.jpg" width="62%" height="10%"/></center>
      </h2>
      </div>
</main>

<footer>
  <%- include('../parts/footer'); %>
</footer>

</body>
</html>