<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../parts/head'); %>
</head>
<body class="container">

<header>
  <%- include('../parts/navbar'); %>
</header>

<main>
  <div class="jumbotron"  style="border:double black;">
  <center><h2 style="color: black;"><i>âœ®âœ® ğ•²ğ–†ğ–’ğ–Šğ–˜ ğ–ğ–†ğ–—ğ–†ğ–™ğ–ğ–Šğ–˜ âœ®âœ®</i></h2></center>  

  <h2 style="color: red;margin-left: 2%;">ğ•» ğ–ˆ:</h2>
  <div class="first">
    <h2 style="margin-top:4.5%;margin-left: 4.5%;"><img src="game1.jpg" width="28%"/></h2>
    <h1 style="color: deeppink;margin-left: 38%;margin-top:-14.5%;"> ==></h1> 
    <p style="margin-left: 52%;margin-top: -10%;">Guilty Gear Strive is just one of 216 expert reviews in 17 categories. These are the PC games you should play right now</p>
    
    <div class="first1" style="border: 1px solid blue;margin-left: 61.5%;margin-top: 3%;margin-right: 13%;background-color:blue;">
    <h4 style="margin-left: 29%;margin-top: 1.8%;"><a  href="/pc">ğ•ğ•šğ•–ğ•¨ ğ•„ğ• ğ•£ğ•–</a></h4> 
    </div>
  </div>
  
    <h2 style="color: red;margin-top:13.5%;margin-left: 2%;">ğ•»ğ–‘ğ–†ğ–ğ•¾ğ–™ğ–†ğ–™ğ–ğ–”ğ–“ 3:</h2>
 <div class="second">
    <p style="margin-top:16%;margin-top: 3.5%;">if you want to play PS1 and PS3 games <br/>(and PS2 as well depending on the model of the PS3), <br/>and your computer is not fast enough to emulate the games, yes.<br/> There is a lot of cool games on the PS3.</p>
    
    <div class="second1" style="background-color:blue;border: 1px solid blue;margin-right: 70%;margin-left: 6%;margin-top: 2.8%;">
      <h4 style="margin-top:2%;margin-left: 24.8%;"><a href="/ps3">ğ•ğ•šğ•–ğ•¨ ğ•„ğ• ğ•£ğ•–</a></h4> 
    </div>  
  
  <h1 style="margin-left:51%;margin-top:-14%;color: pink;"> <== </h1> 
  <h2 style="margin-left:66%;margin-top: -10%;"><img src="game3.jpg" width="100%"/></h2>
 </div>
 
  <h2 style="color: red;margin-top:12.5%;margin-left: 2%;">ğ•»ğ–‘ğ–†ğ–ğ•¾ğ–™ğ–†ğ–™ğ–ğ–”ğ–“ 4:</h2>
<div class="third">
    <h2 style="margin-top:4.5%;margin-left: 5.5%;"><img src="game4.jpg" width="21.5%"/></h2>
    <h1 style="color: deeppink;margin-left: 38%;margin-top:-16.5%;"> ==></h1> 
    <p style="margin-left: 59%;margin-top: -9%;">There are currently 3246 games on this list.</p>
    
    <div class="third1" style="background-color:blue;border: 1px solid blue;margin-left: 61.5%;margin-top: 3%;margin-right: 13%;">
    <h4 style="margin-left: 29%;margin-top:1.8%;"><a href="/ps4">ğ•ğ•šğ•–ğ•¨ ğ•„ğ• ğ•£ğ•–</a></h4> 
    </div>
  </div>
 
   <h2 style="color: red;margin-top:12.5%;margin-left: 2%;">ğ“§-ğ“«ğ“¸ğ”:</h2> 
   <div class="four">
    <p style="margin-top:5.5%;">Experience the new generation of games and <br/>entertainment with Xbox. Explore consoles, new and<br/> old Xbox games and accessories to start or add to your ....</p>
    
    <div class="four1" style="background-color:blue;border: 1px solid blue;margin-right: 70%;margin-left: 6%;margin-top: 2.8%;">
      <h4 style="margin-top:2%;margin-left: 24.8%;"><a href="/x-box">ğ•ğ•šğ•–ğ•¨ ğ•„ğ• ğ•£ğ•–</a></h4> 
    </div>  
  
  <h1 style="margin-left:47%;margin-top:-14%;color: pink;"> <== </h1> 
  <h2 style="margin-left:64%;margin-top: -10%;"><img src="game2.jpg" width="98%"/></h2>
  </div>
</div>  
</main>

<footer>
  <%- include('../parts/footer'); %>
</footer>

</body>
</html>