<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../parts/head'); %>
</head>
<body class="container">

<header>
  <%- include('../parts/navbar'); %>
</header>

<main>
  <div class="jumbotron">
    <center><h1 style="color:darkblue"><i>♥♥ 𝕷𝖊𝖌𝖊𝖓𝖉𝖘 𝕳𝖎𝖘𝖙𝖔𝖗𝖞 𝕺𝖋 𝕲𝖆𝖒𝖎𝖓𝖌 ♥♥</i></h1></center>
  <h2 style="margin-top: 5%;"><center><img src="logo1.png" alt="it is game logo" width="48%"/></center></h2>  
  
  <h2 style="margin-top:-24%;margin-left: 6%;color: darkred;">𝓓𝓮𝓿𝓲𝓵 </h2>
  <h2 style="margin-top: 3.5%;margin-left:84%;color: deeppink;">𝓜𝓪𝓭</h2>

  
  <div style="background-color:#f77676;border:1px solid #f77676;border-radius: 10%;margin-right: 45%;margin-top:16%;">
    <div class="first" style="margin-top: 4%;margin-left:3%;">
      <h2><img src="logo2.jpg" alt="it is car game logo"/></h2>
      <h2 style="margin-left: 55%; margin-top:-40% ;"><img src="logo3.png" alt="it is bike game logo" width="85.5%"/></h2>
    </div>
   </div>
  
  <div class="first1" style="margin-left: 58%;margin-top: -14.5%;">
  <h2 style="color: red;"><strong style="color: black;"> <=> </strong> <i style="word-spacing:5%;">𝕮𝖍𝖆𝖘𝖎𝖓𝖌 𝕷𝖎𝖋𝖊</i></h2>
  </div> 
  
  <div style="background-color:#f3d8b9;border:1px solid #f3d8b9;border-radius: 10%;margin-top:15%;margin-left: 39%;margin-right: 2%;">
    <div class="second">
     <h2 style="margin-left: 53.5%;margin-top:7%;"><img src="logo4.jpg" width="84.5%"/></h2>
     <h2 style="margin-left: 7.5%;margin-top: -40.8%;"><img src="logo5.jpg" width="42.5%"/></h2>
    </div>  
  </div>
  
  
  <div class="first1" style="margin-left:4.5%;margin-top: -16%;">
    <h2 style="color: red;"><i style="word-spacing:5%;">𝖂𝖆𝖗 𝖂𝖔𝖗𝖑𝖉</i><strong style="color: black;"> <=> </strong> </h2>
    </div>
  
  <div style="margin-top: 17%;">
   <center> <h2><i style="color: brown;">♤♤ 𝔾𝕒𝕞𝕖 𝕠𝕗 𝕥𝕙𝕖 𝕤𝕠𝕔𝕚𝕥𝕪 ♤♤</i></h2></center>
  </div>

</div>
</main>

<footer>
  <%- include('../parts/footer'); %>
</footer>

</body>
</html>